<header class="header">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-auto">
        <div class="header_logo">
          <a class="" href="/">
            <img src="images//idena-logo.svg" alt="Idena" width="40px" />
          </a>
        </div>
      </div>
      <div class="col">
        <div action="" class="form_search">
          <div class="input-group">
            <div class="input-addon">
              <button type="button" class="btn btn-icon" id="SearchBtn">
                <i class="icon icon--search"></i>
              </button>
            </div>
            <input
              type="search"
              placeholder="Address, flip, invitation, transaction, block..."
              class="form-control"
              id="SearchInput"
            />
          </div>
        </div>
      </div>

      <div class="col-auto">
        <div class="user-pic hidden" id="currentUser">
          <img class="user-avatar" src="" alt="pic" width="40" />
          <ul class="dropdown-menu">
            <li>
              <button
                id="MyAddressMenu"
                type="button"
                class="btn btn-small btn-icon"
              >
                <span>My address</span>
              </button>
            </li>
            <li class="brake"></li>
            <li>
              <button
                id="LogOutMenu"
                type="button"
                class="btn btn-small btn-icon"
              >
                <span>Log out</span>
              </button>
            </li>
          </ul>
        </div>

        <a
          id="SignInWithIdena"
          href="/signin"
          type="button"
          class="btn btn-signin hidden"
        >
          <img class="icon icon-logo-white" width="24px" />
          <div class="spinner hidden">
            <div class="small progress"><div></div></div>
          </div>

          <span>Sign-in with Idena</span>
        </a>

        <!--
        <button type="button" class="btn btn-icon">
          <i class="icon icon--settings"></i>
        </button>

-->
      </div>
    </div>
  </div>
</header>
