<header class="header">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-auto">
        <div class="header_logo">
          <a class="" href="/">
            <img src="images//idena-logo.svg" alt="Idena" width="40px">
          </a>
        </div>
      </div>
      <div class="col col-5">
<!--
        <form action="" class="form_search">
          <div class="input-group">
            <div class="input-addon">
              <button type="button" class="btn btn-icon">
                <i class="icon icon--search"></i>
              </button>
            </div>
            <input type="search" placeholder="Block, transaction or address" class="form-control">
          </div>
        </form>
-->
      </div>
<!--
      <div class="col-auto">
        <button type="button" class="btn btn-icon">
          <i class="icon icon--settings"></i>
        </button>
      </div>
-->
    </div>
  </div>
</header>