<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-dateformat.min.js"></script>

<script src="common.js?41"></script>
<script src="identity.js?41"></script>
<script src="epoch.js?41"></script>
<script src="validation.js?41"></script>
<script src="answers.js?41"></script>
<script src="flip.js?41"></script>
<script src="epochs.js?41"></script>
<script src="address.js?41"></script>
<script src="tx.js?41"></script>
<script src="block.js?41"></script>
<script src="rewards.js?41"></script>
<script src="main.js?41"></script>


