<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-dateformat.min.js"></script>

<script src="common.js?39"></script>
<script src="identity.js?39"></script>
<script src="epoch.js?39"></script>
<script src="validation.js?39"></script>
<script src="answers.js?39"></script>
<script src="flip.js?39"></script>
<script src="epochs.js?39"></script>
<script src="address.js?39"></script>
<script src="tx.js?39"></script>
<script src="block.js?39"></script>
<script src="main.js?39"></script>


