<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-dateformat.min.js"></script>

<script src="common.js?63"></script>
<script src="identity.js?63"></script>
<script src="epoch.js?63"></script>
<script src="validation.js?63"></script>
<script src="answers.js?63"></script>
<script src="flip.js?63"></script>
<script src="epochs.js?63"></script>
<script src="address.js?63"></script>
<script src="tx.js?63"></script>
<script src="block.js?63"></script>
<script src="rewards.js?63"></script>
<script src="reward.js?63"></script>
<script src="main.js?63"></script>


