<!DOCTYPE html>
<html lang="en">
  <%= require('html-loader?attrs=false!./partials/head.html') %>

  <body>
    <%= require('html-loader?attrs=false!./partials/header.html') %>

    <main class="main">
      <div class="container">
        <section class="section section_info">
          <div class="row">
            <div class="col-12 col-sm-4">
              <h1>Circulation supply</h1>
              <div class="card">
                <div class="info_block">
                  <div class="row" id="IdentitesSection">
                    <div class="col-12 col-sm-12 bordered-col">
                      <h3 class="info_block__accent" id="CirculationSupply">
                        -
                      </h3>
                      <div
                        class="control-label"
                        data-toggle="tooltip"
                        title="Total supply deducted by vested and staked coins"
                      >
                        Circulation supply
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-8">
              <h1>&nbsp;</h1>
              <div class="card">
                <div class="info_block">
                  <div class="row" id="BalanceSection">
                    <div class="col-12 col-sm-4 bordered-col">
                      <h3 class="info_block__accent" id="TotalSupply">-</h3>
                      <div
                        class="control-label"
                        data-toggle="tooltip"
                        title="Total coins available (including vested and staked coins)"
                      >
                        Total supply
                      </div>
                    </div>
                    <div class="col-12 col-sm-4 bordered-col">
                      <h3 class="info_block__accent" id="VestedCoins">-</h3>
                      <div
                        class="control-label"
                        data-toggle="tooltip"
                        title="Vested coins (see details below)"
                      >
                        Vested coins
                      </div>
                    </div>
                    <div class="col-12 col-sm-4 bordered-col">
                      <h3 class="info_block__accent" id="TotalStaked">-</h3>
                      <div
                        class="control-label"
                        data-toggle="tooltip"
                        title="Frozen coins minted for identities' stakes"
                      >
                        Staked coins
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="section section_tabs">
          <div class="tabs">
            <div class="section__header">
              <div class="row align-items-center justify-content-between">
                <div class="col">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a
                        class="nav-link active"
                        id="vesting-tab"
                        data-toggle="tab"
                        href="#vesting"
                        role="tab"
                        aria-controls="vesting"
                        aria-selected="true"
                      >
                        <h3>Vested coins</h3>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="tab-content">
              <div
                class="tab-pane active"
                id="vesting"
                role="tabpanel"
                aria-labelledby="vesting-tab"
              >
                <div class="card">
                  <div class="table-responsive">
                    <table class="table" id="VestingTable">
                      <tr>
                        <th>Address</th>
                        <th data-toggle="tooltip" title="">
                          Balance, <br />DNA
                        </th>
                        <th>Puprouse</th>
                        <th style="width: 150px;">Vesting <br />date</th>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="section section_main">
          <div class="row">
            <div class="col-12 col-sm-12">
              <a
                type="button"
                class="btn btn-block btn-secondary"
                href="https://medium.com/idena/idena-community-report-current-state-and-next-steps-dce97a0e3034"
              >
                <i class="icon icon--medium"></i>
                <span>See Idena community report for details</span>
              </a>
            </div>
          </div>
        </section>
      </div>
    </main>

    <%= require('html-loader?attrs=false!./partials/scripts.html') %>
  </body>
</html>
