<!doctype html>
<html lang="en">
<%= require('html-loader?attrs=false!./partials/head.html') %>

<body>
<%= require('html-loader?attrs=false!./partials/header.html') %>

  <main class="main">
    <div class="container">
  
      <section class="section section_main">
        <div class="row">
          <div class="col-auto">
            <div class="section_main__image" id="IdentityAvatar">
              <img src="" alt="pic" width="160">
              <div class="verified_sign">
<!--
                </i class="icon icon--status">
-->
              </div>
            </div>
          </div>
          <div class="col">
            <div class="section_main__group">
              <h1 class="section_main__title" id="IdentityAddress">
                0x...
              </h1>
              <div class="section_main__subtitle"></div>
            </div>

            <a type="button" class="btn btn-small btn-primary" id="BalanceAddress">
              <i class="icon icon--coins"></i>
              <span>Balance of address</span>
            </a>

          </div>
        </div>
      </section>
  
      <section class="section section_details">
        <h3>Details</h3>
        <div class="card">
          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="section__group">
<!--
                <div class="control-label">ID</div>
                <div class="text_block text_block--break" id="IdentityId">-</div>
                <hr>
                <div class="control-label">Username</div>
                <div class="text_block">...</div>
-->
                <div class="control-label">Status:</div>
                <div class="text_block" id="IdentityStatus">-</div>

              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="section__group">
                <div class="control-label">Age:</div>
                <div class="text_block" id="IdentityAge">-</div>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <section class="section section_info">
        <div class="row">
          <div class="col-12 col-sm-6">
            <h3>Validation</h3>
            <div class="card">
              <div class="info_block">
                <div class="row">
                  <div class="col-12 col-sm-4 bordered-col">
                    <h3 class="info_block__accent" id="IdentityRightAnswers">-</h3>
                    <div class="control-label" data-toggle="tooltip" title="Total right answers (forks included)">Right answers</div>
                  </div>
                  <div class="col-12 col-sm-4 bordered-col">
                    <h3 class="info_block__accent" id="IdentitySolvedFlips">-</h3>
                    <div class="control-label" data-toggle="tooltip" title="Total flips solved (forks included)">Solved flips</div>
                  </div>
                  <div class="col-12 col-sm-4 bordered-col">
                    <h3 class="info_block__accent" id="IdentityScore">-</h3>
                    <div class="control-label">Score</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6">
            <h3>Flips</h3>
            <div class="card">
              <div class="info_block">
                <div class="row">
                  <div class="col-12 col-sm-4 bordered-col">
                    <h3 class="info_block__accent" id="IdentityFlipsCreated">-</h3>
                    <div class="control-label" data-toggle="tooltip" title="Total flips created">Total flips</div>
                  </div>
                  <div class="col-12 col-sm-4 bordered-col">
                    <h3 class="info_block__accent" id="IdentityQualifiedFlips">-</h3>
                    <div class="control-label" data-toggle="tooltip" title="Strong / Weak / No consensus">Flips quality</div>
                  </div>
                  <div class="col-12 col-sm-4 bordered-col">
                    <h3 class="info_block__accent" id="IdentityInappropriateFlips">-</h3>
                    <div class="control-label" data-toggle="tooltip" title="Flips with inappropriate content">Inappropriate</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


  
      <section class="section section_tabs">
        <div class="tabs">
          <div class="section__header">
            <div class="row align-items-center justify-content-between">
              <div class="col">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="epochs-tab"
                      data-toggle="tab"
                      href="#epochs"
                      role="tab"
                      aria-controls="epochs"
                      aria-selected="true"
                    >
                      <h3>Identity's validations</h3>
                    </a>
                  </li>


                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="flips-tab"
                      data-toggle="tab"
                      href="#flips"
                      role="tab"
                      aria-controls="flips"
                      aria-selected="false"
                    >
                      <h3>Created flips</h3>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>

          <div class="tab-content">
            <div class="tab-pane active" id="epochs" role="tabpanel" aria-labelledby="epochs-tab">
              <div class="card">
                <div class="table-responsive">
                  <table class="table" id="IdentityEpochsTable">
                    <tr>
                      <th style="width: 100px;">Epoch</th>
                      <th data-toggle="tooltip" title="Identity status before the validation">Previous<br>status</th>
                      <th data-toggle="tooltip" title="Identity validation status">Status</th>
                      <th>Validation score</th>
                      <th style="width: 100px;">Qualification score</th>
                      <th style="width: 100px;">Validated</th>
                      <th style="width: 90px;">Details</th>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="flips" role="tabpanel" aria-labelledby="flips-tab">
              <div class="card">
                <div class="table-responsive">
                  <table class="table" id="IdentityFlipsTable">
                    <tr>
                      <th>Flip</th>
                      <th data-toggle="tooltip" title="">Epoch</th>
                      <th data-toggle="tooltip" title="Flips qualification status">Status</th>
                      <th style="width: 100px;">Created</th>
                      <th style="width: 90px;">Size</th>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
<!--

            <div class="tab-pane" id="transactions" role="tabpanel" aria-labelledby="transactions-tab">
              <div class="section_group">
                <div class="card">
                  <div class="transaction_block">
                    <div class="transaction_block__header">
                      <div class="row align-items-center justify-content-between">
                        <div class="col-sm-9">
                          <div class="transaction_block__title">
                            <a href="">bbf7dc1ae911dbf4b8fcaab48327b674c517b7d60e206866d21a621ecc41d2d1</a>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="transaction_block__date">
                            <div class="control-label">May 15, 2019 1:03:54 PM</div>
                          </div>
                        </div>
                      </div>
                      <div class="transaction_block__inline">
                        <span class="transaction_block__value">130.24892653 DNA</span>
                        <span class="transaction_block__fee">Fee 0.000083 DNA</span>
                      </div>
                    </div>
                    <div class="transaction_block__body">
                      <div class="row align-items-bottom justify-content-between">
                        <div class="col col-auto">
                          <div class="transaction_block__row">
                            <div class="row small-row">
                              <div class="col-sm-2 small-col">
                                <div class="control-label">From</div>
                              </div>
                              <div class="col-sm-10 small-col">
                                <div class="text_block">
                                  <a href="">3BZU33iFcAiyVyu2M2GhEpLNuh81GymzJ7</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="transaction_block__row">
                            <div class="row small-row">
                              <div class="col-sm-2 small-col">
                                <div class="control-label">To</div>
                              </div>
                              <div class="col-sm-10 small-col">
                                <div class="text_block">
                                  <a href="">3BMEXNEqaKdGfCkW1gfVQMwCwrQve6TPjC</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col col-auto">
                          <div class="badge badge--success">Сonfirmed</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="absolute-group">
                  <div class="pager">
                    <div class="row small-row align-items-center">
                      <div class="col-auto small-col">
                        <div class="control-label">1–20 of 42</div>
                      </div>
                      <div class="col-auto small-col">
                        <div class="button-group">
                          <button type="button" disabled class="btn btn-secondary btn-icon">
                            <i class="icon icon--thin_arrow_left"></i>
                          </button>
                          <button type="button" class="btn btn-secondary btn-icon">
                            <i class="icon icon--thin_arrow_right"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
-->


          </div>
        </div>
      </section>
   
<!--
      <section class="section section_tabs">
        <div class="tabs" data-tabs="true">
          <div class="section__header">
            <div class="row align-items-center justify-content-between">
              <div class="col">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="submissions-tab"
                      data-toggle="tab"
                      href="#submissions"
                      role="tab"
                      aria-controls="submissions"
                      aria-selected="true"
                    >
                      <h3>Flips submissions</h3>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="invitations-tab"
                      data-toggle="tab"
                      href="#invitations"
                      role="tab"
                      aria-controls="invitations"
                      aria-selected="false"
                    >
                      <h3>Invitations</h3>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tab-content">
            <div class="tab-pane active" id="submissions" role="tabpanel" aria-labelledby="submissions-tab">
              <div class="section__group">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table table--fixed">
                      <tr>
                        <th style="width: 35%;">ID of flip</th>
                        <th>CID</th>
                        <th style="width: 120px;">Size</th>
                      </tr>
                      <tr>
                        <td>
                          <div class="text_block text_block--ellipsis">
                            <a href="">HvNUMQLvi0Wqw5BC8pl22</a>
                          </div>
                        </td>
                        <td>
                          <div class="text_block text_block--ellipsis">3f339ea8903f339ea3f30x994cf4cccf6463a90</div>
                        </td>
                        <td>123 Kb</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="absolute-group">
                  <div class="pager">
                    <div class="row small-row align-items-center">
                      <div class="col-auto small-col">
                        <div class="control-label">1–20 of 42</div>
                      </div>
                      <div class="col-auto small-col">
                        <div class="button-group">
                          <button type="button" disabled class="btn btn-secondary btn-icon">
                            <i class="icon icon--thin_arrow_left"></i>
                          </button>
                          <button type="button" class="btn btn-secondary btn-icon">
                            <i class="icon icon--thin_arrow_right"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="invitations" role="tabpanel" aria-labelledby="invitations-tab">
              <div class="card">
                <div class="table-responsive">
                  <table class="table table--fixed">
                    <tr>
                      <th>ID of invite</th>
                      <th>ID of addresser</th>
                      <th style="width: 160px;">Status</th>
                    </tr>
                    <tr>
                      <td>
                        <div class="text_block text_block--ellipsis">
                          <a href="">3f339ea8903f339ea3f30x994cf4cccf6463a90</a>
                        </div>
                      </td>
                      <td>
                        <div class="text_block text_block--ellipsis">
                          <a href="">3f339ea8903f339ea3f30x994cf4cccf6463a90</a>
                        </div>
                      </td>
                      <td>Not activated</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="text_block text_block--ellipsis">
                          <a href="">3f339ea8903f339ea3f30x994cf4cccf6463a90</a>
                        </div>
                      </td>
                      <td>
                        <div class="text_block text_block--ellipsis">
                          <a href="">3f339ea8903f339ea3f30x994cf4cccf6463a90</a>
                        </div>
                      </td>
                      <td>Not activated</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
-->  
    </div>
  </main>

  <%= require('html-loader?attrs=false!./partials/scripts.html') %>
</body>
</html>

