<!doctype html>
<html lang="en">
<%= require('html-loader?attrs=false!./partials/head.html') %>

<body>
<%= require('html-loader?attrs=false!./partials/header.html') %>

  <main class="main">
    <div class="container">
    
    
      <section class="section section_tabs">
        <div class="tabs">
          <div class="section__header">
            <div class="row align-items-center justify-content-between">
              <div class="col">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="epochs-tab"
                      data-toggle="tab"
                      href="#epochs"
                      role="tab"
                      aria-controls="epochs"
                      aria-selected="true"
                    >
                      <h1>Epochs</h1>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>

          <div class="tab-content">
            <div class="tab-pane active" id="epochs" role="tabpanel" aria-labelledby="epochs-tab">
              <div class="card">
                <div class="table-responsive">
                  <table class="table" id="EpochsTable">
                    <tr>
                      <th>Epoch</th>
                      <th>Blocks</th>
                      <th>Transactions</th>
                      <th>Flips</th>
                      <th>Invitations</th>
                      <th>Verified</th>

                    </tr>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
  
    </div>
  </main>

  <%= require('html-loader?attrs=false!./partials/scripts.html') %>
</body>
</html>

