<!doctype html>
<html lang="en">
<%= require('html-loader?attrs=false!./partials/head.html') %>

<body>
<%= require('html-loader?attrs=false!./partials/header.html') %>

  <main class="main">
    <div class="container">

                                                 

      <section class="section section_info">
        <div class="row">
          <div class="col-12 col-sm-9">
            <h1>Coins supply</h1>
            <div class="card">
              <div class="info_block">
                <div class="row" id="BalanceSection">
                  <div class="col-12 col-sm-4 bordered-col">
                    <h3 class="info_block__accent" id="TotalSupply">-</h3>
                    <div class="control-label" data-toggle="tooltip" title="Total coins available (including staked coins)">Total supply</div>
                  </div>
                  <div class="col-12 col-sm-4 bordered-col">
                    <h3 class="info_block__accent" id="CirculatingSupply">-</h3>
                    <div class="control-label" data-toggle="tooltip" title="Total supply minus by vested and staked coins">Circulating supply</div>
                  </div>
                  <div class="col-12 col-sm-4 bordered-col">
                    <h3 class="info_block__accent" id="TotalBurnt">-</h3>
                    <div class="control-label" data-toggle="tooltip" title="Coins burnt by protocol (fees, penalties, lost stakes, etc.)">Burnt coins</div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-12 col-sm-3">
            <h1>Identities</h1>
            <div class="card">
              <div class="info_block">
                <div class="row" id="IdentitesSection">

                  <div class="col-12 col-sm-12 bordered-col">
                    <h3 class="info_block__accent"><span id="OnlineMinersTotal">-</span> / <span id="ValidatedTotal">-</span></h3>
                    <div class="control-label" data-toggle="tooltip" title="Online miners / Total validated identities">Online / Total</div>
                  </div>

                </div>
              </div>
            </div>
          </div>


        </div>
      </section>
    
    
      <section class="section ">

      <div class="button-group">
        <a
          type="button"
          class="btn btn-small btn-secondary"
          href="./circulation"
        >
          <i class="icon icon--coins"></i>
          <span>Circulating supply</span>
        </a>

        <a class="btn btn-secondary btn-small" id="ValidationResult">
          <i class="icon icon--report"></i>
          <span>Validation results</span>
        </a>

        <a class="btn btn-secondary btn-small" href="https://idena.today">
          <i class="icon icon--timer"></i>
          <span>More stats</span>
        </a>
      </div>
      </section>

      <section class="section section_tabs">


        <div class="tabs">
          <div class="section__header">
            <div class="row align-items-center justify-content-between">
              <div class="col">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="epochs-tab"
                      data-toggle="tab"
                      href="#epochs"
                      role="tab"
                      aria-controls="epochs"
                      aria-selected="true"
                    >
                      <h3>Epochs</h3>
                    </a>
                  </li>


                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="topaddresses-tab"
                      data-toggle="tab"
                      href="#topaddress"
                      role="tab"
                      aria-controls="topaddress"
                      aria-selected="false"
                    >
                      <h3>Top addresses</h3>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="miners-tab"
                      data-toggle="tab"
                      href="#miners"
                      role="tab"
                      aria-controls="miners"
                      aria-selected="false"
                    >
                      <h3>Online miners</h3>
                    </a>
                  </li>

                  <li class="nav-item" hidden>
                    <a
                      class="nav-link"
                      id="mining24-tab"
                      data-toggle="tab"
                      href="#mining24"
                      role="tab"
                      aria-controls="mining24"
                      aria-selected="false"
                    >
                      <h3>Last 24 hours mining</h3>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>

          <div class="tab-content">
            <div class="tab-pane active" id="epochs" role="tabpanel" aria-labelledby="epochs-tab">
              <div class="card">
                <div class="table-responsive">
                  <table class="table" id="EpochsTable">
                    <tr>
                      <th>Epoch</th>
                      <th>Validation<br>date</th>   
                      <th>Blocks<br>mined</th>
                      <th>Transactions<br>number</th>
                      <th>Flips<br>created</th>
                      <th>Invitations<br>sent</th>
                      <th>Total<br>validated</th>
                      <th>Rewards<br>paid, DNA</th>                                                         
                      <th data-toggle="tooltip" title="Including rewards paid">Total mined,<br>DNA</th> 
                      <th>Burnt, DNA</th>
                    </tr>
                  </table>
                </div>
              </div>
            </div>


            <div class="tab-pane" id="topaddress" role="tabpanel" aria-labelledby="epochs-tab">
              <div class="card">
                <div class="table-responsive">
                  <table class="table" id="TopAddressTable">
                    <tr>
                      <th>Address</th>
                      <th>Balance</th>
                      <th>Stake</th>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="miners" role="tabpanel" aria-labelledby="miners-tab">
              <div class="card">
                <div class="table-responsive">
                  <table class="table" id="MinersTable">
                    <tr>
                      <th>Address</th>
                      <th data-toggle="tooltip" title="The time of the latest block issued / vote for a block issued">Last seen</th>
                      <th style="width: 150px;">Miner status</th>
                      <th data-toggle="tooltip" title="Mining penalty left">Penalty, DNA</th>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="mining24" role="tabpanel" aria-labelledby="mining24-tab">
              <div class="card">
                <div class="table-responsive">
                  <table class="table" id="Mining24Table">
                    <tr>
                      <th>Address</th>
                      <th style="width: 150px;">Total mined, DNA</th>
                      <th data-toggle="tooltip" title="Selected as a block proposer">Blocks produced</th>
                      <th data-toggle="tooltip" title="Selected as a committee member">Voted for blocks</th>
                    </tr>
                  </table>
                </div>
              </div>
  
          </div>
        </div>
      </section>
  
    </div>
  </main>

  <%= require('html-loader?attrs=false!./partials/scripts.html') %>
</body>
</html>

